/*=========================================================
//
//     FILE : app.css
//
//  PROJECT : Sample NodeBot Client Application
//
//   AUTHOR : Bill Daniels
//            Copyright 2014-2016, D+S Tech Labs, Inc.
//            All Rights Reserved
//
//=======================================================*/

#socketMonitor
{
  display  : inline-block;
  position : absolute;
  right    : 5px;
  top      : 5px;
  width    : 300px;
}

#connectionStatus
{
  padding       : 5px 10px;
  width         : 100%;
  border-radius : 10px;

  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;

  color            : #E0E0E0;
  background-color : #800000;

  font-family : sans-serif;
  font-size   : large;

  text-align : center;
}

#messageList
{
  padding       : 5px 10px;
  border-radius : 10px;

  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;

  width    : 100%;
  overflow : auto;
  resize   : none;

  color            : #00C040;
  background-color : #000000;

  font-family : 'Lucida Console', monospace;
  font-size   : small;

  white-space : pre;
}

#userCommandBox
{
  width : 300px;

  color            : #000000;
  background-color : #FFF0C0;

  font-family : sans-serif;
  font-size   : large;
}

